* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

.header__nav {
  background-color: #212121;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.header__nav-list {
  padding: 13px 70px;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.header__nav-item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.header__nav-item:last-child {
  border-right: 0;
}

.header__nav-link {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}

.hamburger {
  display: none;
}

.subheader {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 84px;
  width: 100%;
  margin-top: 50px;
}

.subheader__ico {
  padding-top: 16px;
  max-width: 100%;
}

.subheader__logo-sub {
  margin-top: 6px;
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  opacity: .5;
}

.subheader__num {
  padding-top: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  text-align: right;
}

.subheader__numphone {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

.subheader__numphone:hover {
  text-decoration: none;
  color: #fff;
}

.subheader__number {
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.subheader__button {
  width: 172px;
  height: 46px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background-image: -webkit-linear-gradient(bottom, #1EACC7 0%, #4CE2FF 100%);
  background-image: -o-linear-gradient(bottom, #1EACC7 0%, #4CE2FF 100%);
  background-image: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  margin-top: 22px;
}

.subheader__button:hover {
  background-image: none;
  background-color: blue;
}

.promo {
  min-height: 800px;
  background: url(../img/main-bg.jpg) center center/cover no-repeat;
  width: 100%;
  padding: 200px 0 135px 0;
}

.promo__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}

.promo__subtitle {
  margin: 0;
  margin-top: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.promo__desc {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 23px;
}

.promo__button {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background-image: -webkit-linear-gradient(bottom, #1EACC7 0%, #4CE2FF 100%);
  background-image: -o-linear-gradient(bottom, #1EACC7 0%, #4CE2FF 100%);
  background-image: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  border: none;
  border-radius: 4px;
}

.promo__button:hover {
  background-image: none;
  background-color: blue;
}

.label {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: black;
  width: 115px;
  height: 27px;
  margin: 0 auto;
  text-align: center;
  line-height: 28px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
  margin: 0;
}

.row {
  margin-right: 0;
}

.benefits {
  padding: 19px 0 64px 0;
}

.benefits__title {
  margin-top: 32px;
}

.benefits__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 26px;
}

.benefits__card-img {
  background: #1EACC7;
  min-width: 113px;
  min-height: 113px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
}

.benefits__card-ico {
  width: 80px;
  height: 66px;
}

.benefits__card-title {
  max-width: 343px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
  margin: 0;
}

.benefits__card-desc {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
  margin: 0;
}

.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #222222;
}

.mobile {
  padding: 48px 0 80px 0;
  background: url(../img/mobile-bg.jpg) center center/cover no-repeat;
  min-height: 864px;
  width: 100%;
}

.mobile .row {
  margin-top: 32px;
}

.mobile__title {
  margin-top: 32px;
}

.mobile__item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile__item-first {
  background: url(../img/mobile-card-img-first.jpg);
}

.mobile__item-second {
  background: url(../img/mobile-card-img-second.jpg);
}

.mobile__item-third {
  background: url(../img/mobile-card-img-third.jpg);
}

.mobile__item-fourth {
  background: url(../img/mobile-card-img-fourth.jpg);
}

.mobile__item-fifth {
  background: url(../img/mobile-card-img-fifth.jpg);
}

.mobile__item-sixth {
  background: url(../img/mobile-card-img-sixth.jpg);
}

.mobile__item-subtitle {
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile__item-plus {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  width: 29px;
  height: 29px;
  background: #000000;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  margin: 0 auto;
}

.mobile__item-plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.mobile__item-plus:after {
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1EACC7;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.mobile__item-plus:hover:before, .mobile__item-plus:hover:after {
  background-color: brown;
}

.choice {
  position: relative;
  padding-top: 60px;
  min-height: 900px;
  background: url(../img/choice-white-bg.jpg) center center/cover no-repeat;
  z-index: -2;
}

.choice__img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
  width: 100%;
}

.choice__dark-bg {
  background: #070716 center center/cover no-repeat;
  position: absolute;
  z-index: -1;
  height: 500px;
  width: 100%;
  top: 0;
  left: 0;
}

.choice__img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}

.choice__label {
  background-color: #FFFFFF;
  color: black;
}

.choice__title {
  margin-top: 28px;
  color: #FFFFFF;
}

.choice__subtitle {
  color: #FFFFFF;
}

.choice__sub {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

.require {
  padding: 68px 0 51px 0;
}

.require__block {
  margin: 33px 0;
}

.require__title {
  font-weight: normal;
  font-size: 22px;
  color: #1CA8C3;
}

.require__list {
  list-style-type: none;
  padding-left: 45px;
  margin-top: 10px;
}

.require__list li {
  position: relative;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
}

.require__list li:before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url(../icons/check_blue-ico.svg) center center/cover no-repeat;
}

.require__descr {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #1CA8C3;
  max-width: 470px;
}

.require .warning .require__title {
  color: #FF5656;
}

.require .warning .require__list li::before {
  background: url(../icons/check_red-ico.svg) center center/cover no-repeat;
}

.cities {
  padding: 48px 0 22px 0;
  background: url(../img/world-bg.jpg) center center/cover no-repeat;
  min-height: 720px;
  position: relative;
}

.cities__label {
  background-color: #FFFFFF;
  color: black;
  width: 80px;
  height: 28px;
  z-index: 2;
}

.cities__title {
  margin-top: 26px;
  color: #FFFFFF;
}

.cities__subtitle {
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 456px;
}

.cities__link {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 49px;
  text-align: center;
  font-size: 15px;
  line-height: 68px;
  text-transform: uppercase;
  color: #1FBAD6;
}

.cities__link:hover {
  text-decoration: none;
  color: #fff;
}

.footer {
  padding-top: 14px;
  height: 152px;
}

.footer__decor {
  background: #1FBAD6;
  width: 300px;
  height: 4px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 20px 0 25px;
}

.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 364px;
}

.footer__social-img {
  background-color: black;
  width: 35px;
  height: 35px;
  margin-right: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 100%;
          border-radius: 100%;
}

.footer__nav {
  position: relative;
  -webkit-transform: translateX(-24px);
      -ms-transform: translateX(-24px);
          transform: translateX(-24px);
}

.footer__nav-titles {
  width: 364px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  color: #070716;
  font-weight: 300;
  font-size: 15px;
  line-height: 0px;
  text-transform: uppercase;
  color: #070716;
}

.footer__mobile-stores {
  width: 300px;
  height: 40px;
  position: relative;
}

.footer__stores-links {
  width: 300px;
  margin: 0 auto;
  -webkit-transform: translateX(64px);
      -ms-transform: translateX(64px);
          transform: translateX(64px);
}

.footer__nav-subtitles {
  position: relative;
  width: 390px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__subtitle {
  -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
          transform: translateX(-10px);
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
}

.footer__lang {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__lang-ru {
  margin-top: 19px;
  -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
          transform: translateX(-10px);
  color: #1EACC7;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 37px;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .header__nav-link {
    font-size: 13px;
  }
  .header__nav-item {
    padding-right: 20px;
  }
  .subheader__numphone {
    max-width: 100%;
  }
  .promo__header {
    font-size: 45px;
  }
  .benefits__card {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .mobile__item {
    width: 290px;
  }
  .footer__wrapper {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .footer__mobile-stores {
    width: 220px;
    height: 40px;
    position: relative;
    margin-right: 30px;
  }
  .footer__img {
    width: 260px;
  }
  .footer__stores-links {
    width: 220px;
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .header__nav-link {
    font-size: 10px;
  }
  .header__nav-item {
    padding-right: 10px;
  }
  .subheader__logo-sub {
    font-size: 11px;
  }
  .subheader__number {
    font-size: 18px;
  }
  .subheader__button {
    width: 100%;
    height: 40px;
    margin-top: 21px;
  }
  .promo__title {
    font-size: 45px;
  }
  .footer {
    height: 300px;
  }
  .footer__wrapper {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 260px;
  }
  .footer__social {
    width: 164px;
  }
  .footer__nav {
    width: 300px;
  }
  .footer__lang-ru {
    -webkit-transform: translateX(24px);
        -ms-transform: translateX(24px);
            transform: translateX(24px);
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .header__nav-list {
    position: fixed;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: .6s all;
    -o-transition: .6s all;
    transition: .6s all;
  }
  .header_active {
    left: 0;
  }
  .header__nav-item {
    margin-top: 30px;
  }
  .header__nav-link {
    padding-right: 0;
    border: none;
    font-size: 20px;
  }
  .subheader {
    padding-bottom: 10px;
  }
  .subheader__number {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    -webkit-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
            transform: translateX(-10%);
    padding-top: 10px;
  }
  .subheader__button {
    width: 200px;
    height: 40px;
    margin-top: 7px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
            transform: translateY(-40%);
    width: 26px;
    height: 24px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    margin-bottom: 6px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
        -ms-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
        -ms-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
}

@media (max-width: 575px) {
  .row {
    margin: 0 -15px;
  }
  .subheader {
    padding-bottom: 10px;
    height: 66px;
  }
  .subheader__logo-sub {
    display: none;
  }
  .subheader__ico {
    margin-top: 12px;
  }
  .subheader__number {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
            transform: translateX(-5%);
    padding-top: 10px;
  }
  .subheader__button {
    width: 110px;
    height: 24px;
    margin-top: 7px;
    font-size: 10px;
  }
  .cities {
    min-height: 0;
    height: 360px;
  }
  .cities__label {
    width: 75px;
    height: 22px;
    font-size: 11px;
    vertical-align: middle;
  }
  .cities__title {
    font-size: 16px;
    margin-top: 16px;
  }
  .cities__subtitle {
    margin-bottom: 0px;
    font-size: 14px;
  }
  .cities__link {
    font-size: 15px;
    line-height: 0;
    width: 300px;
  }
  .promo {
    min-height: 400px;
    height: 400px;
    padding: 130px 0 0 0;
  }
  .promo__button {
    width: 210px;
    height: 50px;
    margin: 10px auto 0 auto;
  }
  .promo__desc-text {
    display: none;
  }
  .promo__title {
    margin-top: 10px;
    font-size: 30px;
    line-height: 35px;
  }
  .promo__subtitle {
    font-size: 20px;
  }
  .benefits .row {
    margin: 0 -15px;
  }
  .benefits__card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .benefits__card-title {
    margin-top: 10px;
    text-align: center;
  }
  .benefits__card-desc {
    text-align: center;
  }
  .benefits__card-img {
    -webkit-transform: translateX(10%);
        -ms-transform: translateX(10%);
            transform: translateX(10%);
  }
  .choice {
    min-height: 0;
    background: none;
  }
  .choice__sub {
    color: white;
  }
  .title {
    font-size: 16px;
    margin-top: 15px;
  }
  .footer {
    height: 254px;
  }
  .footer__wrapepr {
    height: 254px;
  }
  .footer__social {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  .footer__mobile {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__nav {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 auto;
  }
  .footer__nav-titles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
  }
  .footer__title {
    font-size: 14px;
    margin-left: 10px;
  }
  .footer__nav-subtitles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 240px;
    margin-left: 30px;
  }
  .footer__nav-subtitle {
    font-size: 11px;
  }
  .footer__lang-ru {
    margin: 10px auto;
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
  }
}
